*, html {
    padding: 0;
    margin: 0;
}

*,*::after,*::before {
    box-sizing: inherit;
}


a:link, a:visited, a:active {
    text-decoration: none;
    color: #3f497a
}

body {
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    font-size: 62.5%;
    background-color: #ff5e6c;
    color: #3f497a;
}

.container {
/* Just for dev */
    /* height: 100vh; */
    max-width: 90%;
    background-color:  #fff5d7;
    margin-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    width: 100%;
    height: 10vh;
    font-size: 2rem;
    background-color: #ff5e6c;
    color:#3f497a;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    flex-grow: 1;
    margin-left: 1rem;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1rem;
}

.listItems {
    margin-right: 1rem;
}

a.listLinks {
    padding: .5rem;
    text-decoration: none;
    border-radius: 3rem;
    background-color: #3f497a;
    color: #fff5d7;
}

.main {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.topics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topics h2 {
    align-self: center;
    font-size: 2rem;
}

.detailContainer {
    display: flex;
    justify-content: space-between;

    margin: 1rem 2rem;
    font-size: 1rem;
}

.detailWindow {
    width: 30%;
    background-color: #3f497a;
    color: #fff5d7;
    padding: .5rem .5rem 1rem .5rem;
    overflow: hidden;
}

.detailWindow a {
    color: #ff5e6c;
}

.detailWindow p {
    font-size: 1rem;;
}

.description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem 1rem 2rem 1rem;
}

.contact {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    padding: .5rem 0;
}

.contactInfo a {
    text-decoration: none;
}

.contactInfo {
    margin: .5rem 1rem;
}

footer {
    background-color: #ff5e6c;
    color:#3f497a;
    font-size: 1.25rem;
    padding-top: .5rem;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerInfo {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.info {
    margin-left: 1rem;
}

.info a {
    text-decoration: none;
}

.copyright {
    margin-right: 1rem;
}

.attribution {
    font-size: 1rem;
    align-self: center;
}

.highlight {
    position: absolute;
    width: 75%;
    height: 75%;
    z-index: 100;
    top: 10%;
    left: 15%;

    border: 5rem solid #fff5d7;
}

.closeOut {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: orange;
    width: 2rem;
    height: 2rem;
    z-index: 1000;;
}
